[Unit]
Description=trancoso vendas aluguel webserver
Documentation=http://github.com/titolins/polen

[Service]
User=ubuntu
Group=ubuntu
Environment=ENV=TLS

ExecStart=/srv/http/trancosovendasaluguel

[Install]
WantedBy=multi-user.target
