<!doctype html>
<html style="width: 100%; height: 100%;">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/img/favicon.png">
    <title>Painel do Administrador</title>
    <script src="/static/js/jspm_packages/system.js"></script>
    <script src="/static/js/jspm.config.js"></script>
    <script src="/static/js/build.js"></script>
  </head>
  <body style="width:100%; height: 100%;">
    <div style="width:100%; height: 100%;" id="container"></div>
    <script>
      //SystemJS.import('systemjs-hot-reloader').then(function(connect) {
        //connect();
        // async imports
        // polyfills
        //SystemJS.import("whatwg-fetch");
        //SystemJS.import("promise-polyfill");

        // styles
        //SystemJS.import("twbs/bootstrap/css/bootstrap.css!");
        //SystemJS.import("twbs/bootstrap");
        //SystemJS.import("admin/components/styles/main.less");

        // load client
        SystemJS.import("client");
      //});
    </script>
  </body>
</html>

