
// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500|Ubuntu:300');
@import '/static/js/node_modules/font-awesome/css/font-awesome.min.css';

// header stuff
@import './colors.less';
@import './mixin.less';

a {
    text-decoration: none !important;
}

#nav, #footer {
    font-family: 'Montserrat', sans-serif;
}

#nav {
    letter-spacing: 0.1em;
    font-size: 15px;
    background-color: @white !important;
    width: inherit;
}

#footer {
    background-color: @fadeBackground;
    min-height: 100px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.footer-bottom-row {
    min-width: 40%;
}

.footer-border-right {
    border-right: 1px solid @blue;
}

.footer-border-bottom {
    border-bottom: 1px solid @blue;
}

.mainContent {
    margin-top: 131px;
}

.text-blue {
    color: @blue !important;
}

.footerLink {
    .text-blue();
    .footerLinkHover();
}

.text-green {
    color: @green !important;
    .headerLinkHover();
}

.text-grey {
    color: @grey !important;
    .headerLinkHover();
}

.mainOpts {
    font-weight: 500;
    text-transform: uppercase;
}

.subOpts {
    font-weight: 400;
    text-transform: uppercase;
}

.logo {
    width: 300px;
    height: 100%;
}

.logoText {
    color: @green;
    font-weight: 500;
    p {
        margin-bottom: 0;
        text-align: center;
        &:first-child {
            font-size: 36px;
            text-transform: capitalize;
        }
        &:last-child {
            font-size: 14px;
            text-transform: lowercase;
        }
    }
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
