
// fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500|Ubuntu:300');

// header stuff

nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    .mainOpts {
        font-weight: 500;
    }
    .subOpts {
        font-weight: 400;
    }
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
